@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

/* 리셋 css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spoqa Han Sans', 'Sans-serif';
}
 

/* 리셋 css 끝 */

/* 숨김 컨텐츠 */
.a11yhidden {
    position: absolute !important;
    top: -9999px;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

/* 숨김 컨텐츠  끝*/

/* 헤더 영역 */
header.load
{
    transition: 1s;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #D8D8D8;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 100000;
}

header.active h1 img {
    filter: blur(2px);
}

header h1 img {
    margin-left: 20px;
    margin-top: 20px;
}

.open-btn {
    border: none;
    background-color: transparent;
    text-indent: -9999px;
    position: absolute;
    width: 70px;
    height: 80px;
    top: 0;
    right: 0;
    cursor: pointer;
}

header.active .open-btn::before {
    transform: rotate(360deg) translateY(15px);

}

header.active .open-btn::after {
    transform: rotate(-360deg) translateY(-15px);
}

.open-btn::before {
    transition: 1s;
    content: "";
    position: absolute;
    width: 40%;
    height: 4px;
    background-color: black;
    top: 30px;
    right: 20px;
    box-shadow: 0 10px 0 0 black;
}

.open-btn::after {
    transition: 1s;
    content: "";
    position: absolute;
    width: 40%;
    height: 4px;
    bottom: 25px;
    right: 20px;
    background-color: black;

}

.open-btn:hover {
    background-color: #f0eeee;
}

header.active ul {
    display: block; 
}
header.active .navigation {
    transform: translateX(0);
}
/* 네비게이션 영역 시작 */
.navigation {
    background-color: rgba(20, 24, 44, 0.92);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(100%);
    transition: 0.3s ease-in-out;
}
.navigation ul {
    color: #fff;
    width: 100%;
    height: 100%;
    display: none;
}
header .navigation .close-btn
{
    display: none;
}
header.active .navigation .close-btn
{
    display: block;
}

.navigation ul li {
    list-style: none;
    width: 100%;
    border-bottom: 1px solid rgb(34, 34, 105);
    position: relative;
}

.navigation ul li a:focus {
    background-color: #233d84;
}

.navigation ul li a:hover {
    background-color: #233d84;
    transition: 0.5s ease-in-out;
}

.navigation ul li:nth-child(1) {
    margin-top: 57px;
}

.navigation ul li a {
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1.5px;
    display: block;
    padding: 13.5px 16px;
    color: #fff;
}

.close-btn {
    width: 60px;
    height: 60px;
    background-image: url(../img/SVG/Close.svg);
    filter: invert(1);
    position: absolute;
    top: 0;
    right: 0;
    text-indent: -99999px;
    border: none;
    background-color: transparent;
    z-index: 20;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    margin: 15px;
    cursor: pointer;
}

/* 헤더 영역 끝 */

/* 메인 영역 */
main {
    margin-top: 80px;
}

main .container {
    width: 1000px;
    margin: 0 auto;

}
main .container li:nth-child(1),
main .container li:nth-child(2),
main .container li:nth-child(3),
main .container li:nth-child(4),
main .container li:nth-child(5),
main .container li:nth-child(6),
main .container li:nth-child(7),
main .container li:nth-child(8)
{
  
}
main .container li:nth-child(1)
{
    transform: translateX(-300%);
    transition-delay: 0s;
}
main .container li:nth-child(2)
{
    transform: translateX(300%) rotate(360deg);
    transition-delay: 0s;
}
main .container li:nth-child(3)
{
    transform: translateX(-300%) rotate(-360deg);
    transition-delay: 1s;
}
main .container li:nth-child(4)
{
    transform: translateY(300%);
    transition-delay: 1s;
}
main .container li:nth-child(5)
{
    transform: translateY(-400%);
    transition-delay: 2s;
}
main .container li:nth-child(6)
{
    transform: translateX(300%);
    transition-delay: 2s;
}
main .container li:nth-child(7)
{
    transform: translateX(-300%) translateY(-300%);
    transition-delay: 3s;
}
main .container li:nth-child(8)
{
    transform: translateX(300%) translateY(-300%);
    transition-delay: 3s;
}
main .container li.load:nth-child(1),
main .container li.load:nth-child(2),
main .container li.load:nth-child(3),
main .container li.load:nth-child(4),
main .container li.load:nth-child(5),
main .container li.load:nth-child(6),
main .container li.load:nth-child(7),
main .container li.load:nth-child(8)
{
    transform: none;
}


main .container li {
    width: 400px;
    height: 360px;
    /* text-align: center; */
    margin: 15px;
    padding: 15px;
    position: relative;
    background-color: #f5f5f5;
    cursor: pointer;
    list-style: none;
    transition: 1s ease-in-out;
}

main .container li:hover img {
    transform: scale(1);
}

/* .container li:focus {
    outline: none;
} */

main ul {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* 피겨 영역 */
figure {
    font-size: 17px;
    color: #2E2E2E;
    pointer-events: none;
}
li.active:hover figure img
{
    transform: scale(0.9);
}
figure img {
    transform: scale(0.9);
    transition: all 0.3s ease-in-out;
}

figure .img-box,
figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
}
figcaption
{
    
}

/* 피겨 영역 끝 */

/* 자바스크립트로 카드 오픈 */
li.active dl {
    border: 1px solid #D8D8D8;
    background-color: rgba(255, 255, 255, 0.6);
    opacity: 1;
    transition: none;
    z-index: 1;
}

/* dl 영역 */
dl {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 25px 20px 20px 20px;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    transition: 0.4s;
}

li dl dt {
    line-height: 1.2;
    margin-top: 20px;
    pointer-events: all;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
}

li dl dt .dt-title {
    font-weight: 400;
    width: 70%;
    color: #424242;
    letter-spacing: 2px;
}

li dl .summary {
    pointer-events: all;
    font-size: 16px;
    padding-top: 15px;
}

li dl dt p:nth-child(2) {
    font-size: 13px;
    color: #999999;
}
li.active .close-btn-dd
{
    display: block;
}
.close-btn-dd
{
    display: none;
}
.close-dl-btn {
    background-image: url(../img/SVG/Close.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    padding: 9px 14px;
    border: none;
    background-color: transparent;
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
    text-indent: -99999px;
    pointer-events: all;
}

.close-dl-btn:hover {
    background-color: #f0eeee;
}

.nutrient {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    justify-content: center;
    background-color: #f8f8f8;
}

.nutrient-box p {
    display: inline-block;
    width: 65px;
    line-height: 19px;
}

.nutrient-box.left {
    width: 50%;
    padding-left: 30px;
    padding-top: 15px;
}

.nutrient-box.left::after {
    content: "";
    position: absolute;
    top: 15px;
    right: 50%;
    width: 1px;
    height: 60px;
    background-color: #cccccc;
}

.nutrient-box.right {
    width: 40%;
    padding-left: 20px;
    padding-top: 15px;
}

/* dl 영역 끝*/
/* 메인 영역 끝 */

/* 커튼 영역 */
#curtain {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    pointer-events: none;
}
#curtain.active
{
    pointer-events: all;
}

#curtain span {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    display: block;
    transform-origin: bottom left;
    transition: 0.5s ease-in-out;
    transform: rotate(-90deg);
}

#curtain span:nth-child(1) {
    background: #c5cdcf;
    transform: rotate(-90deg);
    transition-delay: 0.9s;
}

#curtain span:nth-child(2) {
    background: #b5a99b;
    transform: rotate(-90deg);
    transition-delay: 0.8s;
}

#curtain span:nth-child(3) {
    background: #b8a899;
    transform: rotate(-90deg);
    transition-delay: 0.7s;
}

#curtain span:nth-child(4) {
    /* background: #111; */
    background: #c1af99;
    transform: rotate(-90deg);
    transition-delay: 0.6s;
}

#curtain span:nth-child(5) {
    /* background: #111; */
    background: #b3a28e;
    transform: rotate(-90deg);
    transition-delay: 0.5s;
}

#curtain span:nth-child(6) {
    /* background: #ff1f6b; */
    background: #b59a87;
    transform: rotate(-90deg);
    transition-delay: 0.4s;
}

#curtain span:nth-child(7) {
    /* background: #219dff; */
    background: #937c62;
    transform: rotate(-90deg);
    transition-delay: 0.3s;
}

#curtain span:nth-child(8) {
    /* background: #111; */
    background: #623e26;
    transform: rotate(-90deg);
    transition-delay: 0.2s;
}

#curtain span:nth-child(9) {
    /* background: #111; */
    background: #fff;
    transform: rotate(-90deg);
    transition-delay: 0.1s;
}

#curtain span:nth-child(10) {
    top: 20%;
    background: url(../img/EdiyaBg.jpg) no-repeat;
    background-size: 52%;
    transform: rotate(-90deg);
    transition-delay: 0;
}

#curtain.active span:nth-child(1) {
    z-index: 1;
    transition-delay: 0s;
    transform: rotate(0deg);
}

#curtain.active span:nth-child(2) {
    z-index: 2;
    transition-delay: 0.1s;
    transform: rotate(0deg);
}

#curtain.active span:nth-child(3) {
    z-index: 3;
    transition-delay: .2s;
    transform: rotate(0deg);
}

#curtain.active span:nth-child(4) {
    z-index: 4;
    transition-delay: .3s;
    transform: rotate(0deg);
}

#curtain.active span:nth-child(5) {
    z-index: 5;
    transition-delay: .4s;
    transform: rotate(0deg);
}

#curtain.active span:nth-child(6) {
    z-index: 6;
    transition-delay: 0.5s;
    transform: rotate(0deg);
}

#curtain.active span:nth-child(7) {
    z-index: 7;
    transition-delay: 0.6s;
    transform: rotate(0deg);
}

#curtain.active span:nth-child(8) {
    z-index: 8;
    transition-delay: .7s;
    transform: rotate(0deg);
}

#curtain.active span:nth-child(9) {
    z-index: 9;
    transition-delay: .8s;
    transform: rotate(0deg);
}

#curtain.active span:nth-child(10) {
    z-index: 10;
    transition-delay: .9s;
    transform: rotate(0deg);
}

.curtain-toggle {
    position: absolute;
    bottom: 20px;
    left: 50px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgb(255, 143, 162);
    cursor: pointer;
    pointer-events: all;
    margin: 15px;
    z-index: 10000000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in-out;
}

.curtain-toggle:before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgb(255, 143, 162);
    z-index: 1;
    /* box-shadow: 0 10px 0 rgb(255, 180, 192); */
}

/* .curtain-toggle:after {
    content: "";
    position: absolute;
    bottom: 6px;
    width: 100%;
    height: 2px;
    background: rgb(255, 180, 192);
    z-index: 1;
    transition: 0.5s;
} */
#curtain.active .curtain-toggle
{
    background: rgb(255, 143, 162);
}
#curtain.active .curtain-toggle::before {

}

#curtain.active .curtain-toggle::after {
    content: none;
}

#curtain .container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    transition-delay: 0s;
}

#curtain.active .container {
    visibility: visible;
    opacity: 1;
    transition-delay: 1.2s;
}

/* 커튼 끝 */

/* 메뉴 애니메이션 */

nav ul li a::before
{
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    color: #1bfaad;
    white-space: nowrap;
}
nav ul:hover li a::before
{
    animation: animate 0.5s steps(6) forwards;
}
@keyframes animate
{
    0%
    {
        width: 97.33px;
    }
    100%
    {
        width: 0px;
    }
}
nav ul li:hover a::before
{
    animation: animateTwo 1s steps(6) forwards;
}
@keyframes animateTwo
{
    0%
    {
        width: 0px;
    }
    100%
    {
        width: 97.33px;
    }
}