*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html::-webkit-scrollbar
{
    width: 30px;
    height: 30px;
}
html::-webkit-scrollbar-thumb
{
    border-radius: 100px;
    background: linear-gradient(75deg, rgb(54, 50, 50), rgb(31, 141, 59));
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0,0,0,.25);
}
.a11yhidden
{
    overflow: hidden;
    position: absolute !important;
    top: -10000em;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
@keyframes animate
{
    0%,100%
    {
        filter: hue-rotate(0deg);
    }
    50%
    {
        filter: hue-rotate(360deg);
        
    }
}
body
{
    height: 100vh;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
header .logo
{
    font-size: 2em;
    font-weight: bold;
}
header .logo a
{
    display: block;
    text-decoration: none;
}
.toggle {
    background: none;
    border: none;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 0;
    font-size: 0px;
    margin: 15px;
    padding-right: 30px;
}
.trickhover
{
    position: absolute;
    background: none;
    border: none;
    width: 70px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    right: 0;
}
.trickhover:hover,
.trickhover:focus
{
    background: rgb(241, 241, 241);
}
.toggle:before {
    content: "";
    position: absolute;
    top: 4px;
    width: 100%;
    height: 4px;
    background: black;
    z-index: 1;
    box-shadow: 0 10px 0 #000;
    transition: 0.5s;
}
.toggle:after {
    content: "";
    position: absolute;
    bottom: 2px;
    width: 100%;
    height: 4px;
    background: black;
    z-index: 1;
    transition: 0.5s;
}
header.active .toggle::before,
.card .details .topbg .close-btn::before
{
    box-shadow: none;
    transform: translateY(10px) rotate(45deg);
}
header.active .toggle::after,
.card .details .topbg .close-btn::after
{
    transform: translateY(-10px) rotate(-45deg);  
}
.overlay
{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(20, 24, 44, 0.95);
    transform: translateX(100%);
    transition: 0.3s ease-in-out;
}
.overlay nav
{
    display: none;
}
header.active .overlay nav
{
    display: block;
}
.overlay ul
{
    margin-top: 80px;
    width: 100%;
    list-style: none;
}
.overlay ul li
{
    width: 100%;
    transition: 0.5s;
    position: relative;
    cursor: pointer;
}
.overlay ul li .item:focus
{
    background: #2e437c;
}
.overlay ul li .item::after
{
    content: "";
    margin: 20px 0;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgb(15, 50, 88);
    display: block;
}
.overlay ul li .item:hover
{
    background: #2e437c;
}
.overlay ul li .item
{
    display: block;
    color: white;
    font-size: 1.4em;
    padding: 1em;
    text-decoration: none;
}
.overlay .toggle
{
    position: absolute;
    top: 10px;
    right: 20px;
}
.overlay .toggle:before {
    content: "";
    position: absolute;
    top: 4px;
    width: 100%;
    height: 4px;
    background: #fff;
    z-index: 1;
    box-shadow: 0 10px 0 #fff;
    transition: 0.5s;
}
.overlay .toggle:after {
    content: "";
    position: absolute;
    bottom: 2px;
    width: 100%;
    height: 4px;
    background: #fff;
    z-index: 1;
    transition: 0.5s;
}
header.active .overlay
{
    display: block;
    transform: translateX(0);
}
.logo span
{
    color: #31287C;
    display: inline-block;
    animation: textanimate 3s ease-in-out infinite;
    animation-delay: calc(.2s * var(--i));
}
@keyframes textanimate
{
    0%
    {
        transform: translateY(0);
    }
    20%
    {
        color: rgb(36, 139, 170);
        transform: translateY(20px) rotateY(360deg);
    }
    40%, 100%
    {
        color: #31287C;
        transform: translateY(0);
    }
}
main
{
    /* 픽시드로 뜨는걸 해결하기 위해 마진 탑을 헤더 높이 만큼 주었다 */
    position: relative;
    top: 80px;
    width: 100%;
    height: 100vh;
}
section
{
    padding:15px 0;
    max-width: 740px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
section .card
{
    width: 247.44px;
    height: 377.03px;
    margin: 15px;
    transition: 0.2s ease-in-out;
    background: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}
section .card .imgBx
{
    width: 247.44px;
    height: 317.03px;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
section .card .imgBx img
{
    transform: scale(.9);
    transition: 0.4s ease-in-out;
}
section .card:hover .imgBx img
{
    transform: scale(1);
}
section .card .details
{
    display: none;
    width: 340px;
    height: 373px;
    position: absolute;
    left: 0;
    top: 0;
}
section .card .details .topbg
{
    padding: 30px 22px 0 22px;
    width: 100%;
    height: 303px;
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
    letter-spacing: -0.02em;
}
section .card .details .topbg hr
{
    border-top: none;
    border-bottom: 2px solid black;
    margin-top: 9px;
    margin-bottom: 10px;
}
section .card .details .topbg .close-btn
{
    pointer-events: all;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0.5);
}
section .card .details .downbg
{
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    background: #F8F8F8;
    letter-spacing: -0.02em;
    display: flex;

}
section .card .details .downbg .box
{
    font-size: 0.8em;
    display: inline-block;
    padding: 10px 0 5px 0px;
}
section .card .details .downbg .box.left
{
    padding-left: 21px;
    padding-right: 14px;
}
section .card .details .downbg .box.right
{
    border-left: 1px solid #CCCCCC;
    padding-left: 10px;
    padding-right: 33px;
}
section .card .details .downbg p
{
    display: inline-block;
    width: 60px;
    height: 19px;
    font-size: 13px;
    line-height: 19px;
}
section .card .details .downbg small
{
    display: inline-block;
    width: 60px;
    height: 19px;
    font-size: 13px;
    line-height: 19px;
}
section .card .details .topbg h2
{
    width: 296px;
    height: 27px;
    line-height: 27px;
    color: #202022;
    font-size: 18px;
}
section .card .details .topbg small
{
    line-height: 21px;
    color: #999999;
}
section .card .details .topbg p
{
    width: 296px;
    font-size: 1em;
    line-height: 140%;
    color: #202022;
}
section .card.active
{
    pointer-events: none;
    min-width: 340px;
    height: 373px;
}
section .card.active .imgBx
{
    min-width: 100%;

}
section .card.active .details
{
    display: block;
}
@media (max-width:1000px)
{
    .logo span
    {
        color: #31287C;
        display: inline-block;
        margin: -3px;
        animation: textanimate 3s ease-in-out infinite;
        animation-delay: calc(.2s * var(--i));
        font-size: 0.8em;
    }
    @keyframes textanimate
    {
        0%
        {

        }
        20%
        {
            color: rgb(36, 139, 170);
        }
        40%, 100%
        {
            color: #31287C;
        }
    }
}
@media (max-height:600px)
{
    .overlay nav
    {
        width: 100%;
    }
    .overlay .toggle
    {
        float: right;
    }
    .overlay nav ul
    {
        margin-top: 20px;
        float: left;
    }
    .overlay a
    {
        font-size: .9em;
        line-height: 5px;
    }
    
}